<div class = 'pagewrapper'>
    <%= render 'toystore/partials/header'  %>
    <%= render 'toystore/partials/section' %>
    <%= render 'toystore/partials/section1' %>
    <%= render 'toystore/partials/footer'  %>
</div>
