<div class = 'header'>
    <div class = 'header__top'>
        <div class = 'header__top__phone'> Call Us: +1 213 974-5898 </div>
        <div class = 'header__top__email' > 
            Email : <a href='mailto:toystore@template.com' class='text-white'> toystore@template.com </a>
        </div>
    </div>
    <div class = 'header__bottom'>
        <a href = '/' class = 'header__bottom__logo'> Toystore </a>
        <div class = 'header__bottom__nav'>
            <a href = '/' class="header__bottom__nav__link">Catalog  </a>
            <a href = '/' class="header__bottom__nav__link">Delivery </a>
            <a href = '/' class="header__bottom__nav__link">About   </a>
            <a href = '/' class="header__bottom__nav__link">Contacts </a>
        </div>
    </div>
</div>
