<div class = 'section1'>
    <div class = 'section1__container'>
        <div class = 'section1__container__head'> Stuffed Animals</div>
        <div class = 'section1__container__main'>
            <img class = 'section1__container__main__img' src='https://images.hdqwalls.com/wallpapers/iron-man-one-year-2020-iv.jpg'/>
            <img class = 'section1__container__main__img' src='https://images.hdqwalls.com/wallpapers/batwoman-newart-z7.jpg'/>
            <img class = 'section1__container__main__img' src='https://images.hdqwalls.com/wallpapers/iron-man-one-year-2020-iv.jpg'/>
            <img class = 'section1__container__main__img' src='https://images.hdqwalls.com/wallpapers/batwoman-newart-z7.jpg'/>
        </div> 
    </div>
</div>