<div class =  'section'>
    <div class = 'section__card'>
        <div class = 'section__card__main'>
            <div class = 'section__card__main__top'> Say hello to toystore! </div>
            <div class = 'section__card__main__middle'>Template for Webflow</div>
        </div>
    </div>
</div>
